.dg__popup-close-button {
  background: none;
  outline: none;
  border: 0;


  position: absolute;
  top:0;
  left:0;

  padding: 1.4em 1.5em;
  box-sizing: border-box;
  background-color: var(--main-equivalent-color);

  font-weight: 700;
  font-size: var(--p-medium-size);
  cursor: pointer;
  color: #1f1f1f;
  transition: all .3s ease-in;
}

.dg__popup-close-button:hover {
  color: var(--theme-text-color);
}