.popup__button-close {
    font-size: 35px;
    background: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    top: -35px;
    right: -35px;
  }