.info__paragraph-title_page_main {
  font-size: 22px;
  margin-bottom: 20px;
  color: #f2f2f2;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 1024px) {
  .info__paragraph-title_page_main {
    font-size: 12px;
  }
}
