.timodels-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 50px 0;
}

.timodels-container__img {
  flex-basis: 622px;
  width: 100%;
  min-width: 0;
  border: 2px solid #c4c4c45b;
  object-fit: contain;
  margin-left: 10px;
  object-position: bottom;
}

@media screen and (max-width: 700px) {
  .timodels-container {
    flex-wrap: wrap;
  }
  .timodels-container__img {
    margin-left: 0;
  }
}

.timodels {
  justify-content:baseline;
  flex-basis: 100%;
  display: grid;
  /*grid-template-columns: repeat(4, 89px);*/
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(3, 67px);
  gap: 30px 60px;
  grid-auto-flow: column;
  /*ul*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.timodels__link {
  text-decoration: none;
}



.timodels__ptotitle {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #E4E4E4;
  transition: color 0.4s linear;
}

.timodels__link:hover .timodels__ptotitle {
  color: #ff5e3a;
}

.timodels__ptodu {
  margin: 6px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;

  color: #939393;

}

@media screen and (max-width: 768px) {
  .timodels {
    grid-template-columns: repeat(4, 65px);
    gap: 20px 17px;
  }
  .timodels__ptotitle {
    font-size: 18px;
    font-weight: 600;
  }
  .timodels__ptodu {
    font-size: 10px;
  }
}