.burtonnc__breadcrumbs-link {
  text-decoration: underline;
  color: #c4c4c4d5;
  margin-bottom: 3px;

  margin-right: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .burtonnc__breadcrumbs-link {
    /*margin-left: 10px;*/
    font-size: 16px;
  }
}


@media screen and (max-width: 768px) {
  .burtonnc__breadcrumbs-link {
    font-size: 14px;
  }
}


@media screen and (max-width: 550px) {
  .burtonnc__breadcrumbs-link {
    font-size: 12px;
  }
}

.burtonnc__breadcrumbs-link::after {
  content: '/';
  margin-left: 4px;
  color: #FF5E3A;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}

.burtonnc__breadcrumbs-link_type_here {
  text-decoration: none;
}

.burtonnc__breadcrumbs-link_type_here::after {
  content: '';
}