.item-numbered {
  box-sizing: border-box;
  padding-left: 2em;
  position: relative;
  z-index: 2;

  min-width: 282px;
}

.item-numbered:nth-of-type(2) {
  padding-left: 3.2em;

}
.item-numbered:nth-of-type(1)::before {
  content: '1';
}
.item-numbered:nth-of-type(2)::before {
  content: '2';

}

.item-numbered::before {
  content: '';
    position: absolute;
    top: -.1em;
    left: 0;
    font-weight: 600;
    font-size: 5em;
    line-height: 1;
    color: var(--theme-main-color);
    z-index: -1;
}


.tablemod__cell {
    width: 100%;
    position: relative;
    z-index: 2;
  }

.tablemod__cell:nth-of-type(1)::before {
    content: '1';
  }
  .tablemod__cell:nth-of-type(2)::before {
    content: '2';
  }
  .tablemod__cell:nth-of-type(3)::before {
    content: '3';
  }
  .tablemod__cell:nth-of-type(4)::before {
    content: '4';
  }
  .tablemod__cell:nth-of-type(5)::before {
    content: '5';
  }
  .tablemod__cell:nth-of-type(6)::before {
    content: '6';
  }

  .tablemod__cell::before {
    content: '';
    position: absolute;
    left: -40px;
    top: -10px;
    font-weight: 600;
    font-size: 82px;
    line-height: 1;
    text-align: center;

    color: var( --theme-main-color);
    /*color: #ff5e3a25;*/
    z-index: 1;
  }
  @media screen and (max-width:1024px) {
    .tablemod__cell {
      margin-top: 20px;
    }
  }
  @media screen and (max-width:500px) {
    .tablemod__cell {
      width: 141px;
      margin-bottom: 8px;
      margin-top: 30px;
    }
    .tablemod__cell::before {
      font-size: 60px;
      font-weight: 600;
      left: 0;
      top: -10px;
    }
  }