.description {
    display: flex;
    /*    margin: 100px auto 0;*/
    margin: 0 auto 0;
  }


  @media screen and (max-width:768px) {
    .description {
      margin-top: 50px;
    }
  }

  @media screen and (max-width:450px) {
    .description {
      margin-top: 0px;
    }
  }