.dg__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, var(--dg-row-height));
  grid-auto-rows:  var(--dg-row-height);
  gap: 5px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .dg__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .dg__list {
    grid-template-columns: 1fr ;
  }
}