.dg__description {
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: var(--dg-list-item-description-fontsize);
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--dynamic-grid-text-color);
}