.raschet-bem__submit-button_disabled {
  background: transparent;
  border: 1px solid rgba(0,0,1,.2);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0,0,1,.2);
  pointer-events: none;
}