.upf__title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  font-size: var(--section-title-size);
  line-height: 49px;
  letter-spacing: -0.015em;
  color: var(--theme-lightgray-color);
}

@media screen and (max-width: 1441px) {
  /*.upf__title {
    font-size: 32px;
  }*/
}