<!--
    {
        name: 'M450-2-250-1',
        kh: 450,
        t: 250,
        b: 55,
        DB: 42,
        DP: 60,
        DK: '-',
        DP1: '-',
        DP2: '-',
        h: 75,
        s: 10,
        alias: 'm450-2-250-1',
        relevanceChain: 'm450'_.template(require('html-loader!./insets/templates/mchain-template.html').default)(item) ) %>
      }
-->

<li class="chaincards__card">
    <a class="chaincard chaincard_link" href="/prom-chains/tsepi-m-mc/<%= relevanceChain %>/<%= alias %>.html">
        <h3  class="chaincard__heading">Цепь <%= name%></h3>
        <img src="../../images/test-catalog-pic.png" class="chaincard__img" alt="Цепь <%= name%> схематично">
        <h4  class="chaincard__feat-title">Характеристики</h4>
        <ul class="bem__list chaincard__list">
            <li class="bem__list-item">Тип: <%= tip %> цепь</li>
            <li class="bem__list-item">Разрушающая нагрузка: <%= kh %> kH</li>
            <li class="bem__list-item">Шаг цепи: <%= t %> мм</li>
        </ul>
        <span class="bem__link chaincard__link">Цепь <%= name %></span>
    </a>
 </li>