.blog-grid__list-item {
  background-color: var(--theme-dark-gray-color);
  border: 2px solid var(--bg-darker-color);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  transition: all .3s ease-in;
}

.blog-grid__list-item_m {
  grid-column: span 1;
}

.blog-grid__list-item_l {
  grid-column: span 2;
}

.blog-grid__list-item_xl {
  grid-column: span 3;
}

.blog-grid__list-item_white {
  background-color: var(--theme-white-color);
}

.blog-grid__list-item:hover {
  background-color: var(--theme-dark-gray-color-opacity);
}

.blog-grid__list-item:hover .blog-grid__title {
  opacity: .7;
}

.blog-grid__list-item:hover .blog-grid__description {
  color: var(--theme-main-color);
  opacity: .5;

}