.popup__to-img{
    max-width: 371px;
    max-height: 75vh;
    flex: 0 1 400px;


    object-fit: contain;
    object-position: center;
    width: 100%;
}

.popup__to-img-container{
  max-width: 371px;
  max-height: 75vh;
  flex: 0 1 400px;
  min-width: 0;
}
