.two-columns__brief_page_service {
  max-width: 393px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 134.5%;
  margin-right: 60px;
  /* or 32px */

  letter-spacing: 0.035em;
  /*text-transform: uppercase;*/
}
@media screen and (max-width: 1280px) {
  .two-columns__brief_page_service {
    font-size: 18px;
  }
}