.types {

         position: relative;
         margin: 0px auto;
         max-width: 80%;

         /*min-height: calc(70vh - 5px);*/

         display: grid;
         grid-template-columns: 500px 1fr;

         grid-template-rows: repeat(3, calc(50vh/3));

         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;

         row-gap: 10px;

         z-index: 1;
         top: 40px;

         overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .types {
    max-width: 95%;
  }
}
@media screen and (max-width:1024px) {
    .types {
        grid-template-columns: 400px 1fr;
    }
}

@media screen and (max-width:768px) {
    .types {
        display: flex;
        flex-direction: column;
        background-color: #e7451c80;
    }
}

.types__intro {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    background-color: #e7451c80;

    grid-column: 1;
    grid-row: 1/-1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

@media screen and (max-width:768px) {
    .types__intro {
        padding-left: 0;
        background-color: initial;
        margin: 45px 0 0 20px;
    }
}


.types__heading {
  color: #222222;
  font-size: 28px;
  margin: 0 0 25px;
  max-width: 300px;
  font-weight: 900;
  letter-spacing: 0.03em;
}

@media screen and (max-width:450px) {
    .types__heading {
        font-size: 24px;
        margin: 0 0 25px;
    }
}

.types__subtitle {
  color: #201f21;;
  color: #c4c4c4;
  font-size: 18px;
  line-height: 1.4;
  max-width: 330px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width:450px) {
    .types__subtitle {
        font-size: 16px;
    }
}

.types__item {
    position: relative;
    align-self: center;
    right: 20px;
    border: 1px solid #c4c4c4d3;
    height: 80%;
    padding-left: 20px;
    background-color: #c4c4c417;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #c4c4c4;

    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    transition: all .5s ease-in-out;
    box-sizing: border-box;
}
@media screen and (max-width:1440px) {
  .types__item {

      font-size: 22px;

  }
}

@media screen and (max-width:768px) {
    .types__item {

        align-self: stretch;
        font-size: 16px;
        padding: 15px;

        right: 0;
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    }
}


.types__item:hover {
    /*transform: translateX(10px);
    border-left: 10px solid #FF5E3A;*/
    border: 1px solid transparent;

    color: #FF5E3A;
}


