.dg__title {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: var(--dg-list-item-title-fontsize);
  line-height: 1.5;
  letter-spacing: -0.015em;

  color: var(--dynamic-grid-text-color);
}

@media screen and (max-width: 1600px) {
  .dg__title {
    
  }
}