.breadcrumbs {
  display: flex;
  max-width: 100%;
  background-color: #323232;;
  padding: 20px 0 20px var(--aside-width);
  border-bottom: 2px solid var(--bg-darker-color);

  position: relative;
  overflow: hidden;

}

.breadcrumbs__logo {
  flex-shrink: 0;
}

.breadcrumbs__list-item {
  font-size: 28px;
  position: relative;
  display: flex;
  align-items: center;

  color: var(--bg-color);
  /*ссылка*/
  text-decoration: none;


}

.breadcrumbs::before {
  /*content: '';
  position: absolute;

  height: 2px;
  width: calc(var(--aside-width) - 5px);
  background-color: var(--theme-main-color);

  top: 50%;
  left: 0;
*/
}

.breadcrumbs__list-item::before {
  content: '>';
  color: var(--theme-main-color);
  font-weight: 600;
  margin: 0 5px;
}

.breadcrumbs__list-item_here::before {
  content: '';
}