.table-grid__last-food {
  grid-column: span 2;
  justify-self: center;
  padding: 18px 60px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(255, 94, 58, 0.2);
  width: 100%;
}

.table-grid__last-food::after {
  background-image: url(../../../images/svg-elems/last-food-after1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -60%;
    content: "";
    height: 60%;
    left: 0;
    opacity: .2;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 768px) {
  .table-grid__last-food::after {
    display: none;
  }
}