.raschet-bem__parameters {
  display: flex;
  justify-content: space-between;
  margin: 90px auto 30px;
  max-width: calc(100% - 40px);
}

@media screen and (max-width:768px) {
  .raschet-bem__parameters {
    max-width: calc(100% - 20px);
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 500px) {
  .raschet-bem__parameters {
    flex-wrap: nowrap;
    margin: 0;
  }
}