.nav__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  width: 100%;
}

@media screen and (max-width: 1025px) {
  .nav__menu-list {
    display: none;
  }
}