.header__logo-link-container {
  /*margin-right: 15px;*/
  max-width: 120px;
  display: flex;
  align-items: center;


}

@media screen and (max-width: 1440px) {
.header__logo-link-container  {
  max-width: 110px;
}
}

@media screen and (max-width: 768px) {
.header__logo-link-container  {
  max-width: 100px;
}
}
