/*Левый блок*/
.info__aside {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.info__aside::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f2f2f2;
  opacity: 0.05;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .info__aside {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .info__aside {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 140px;
    padding: 10px;
  }
}