.dg__list-item {
  width: 100%;
  height: 100%;
  background-color: var(--dynamic-grid-bg-color);

  padding: 40px 25px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  transition: all .4s ease-in;
}

.dg__list-item:hover {
 
  background-color: var(--main-equivalent-color);
}

@media screen and (max-width: 1600px) {
  .dg__list-item {
    padding: 30px 25px;
  }
}