

.popup__menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100% - 40px);
}

.popup__navlink {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 28px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2f2f2f;
}

.popup__navlink_sub {
  font-weight: 200;
  border: none;
  letter-spacing: 0.005em;
}
.popup__navlink_dop {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: .035em;
}
/*---DROPDOWN---*/
.dropdown {
  position: relative;
}

.dropdown__checkbox {
  position: absolute;
  opacity: 0;
}

.dropdown__label {
  position: relative;

}
.dropdown__list {

  margin: 0px 0 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s linear , max-height .7s linear, margin-top .4s ease-in;
  max-height: 0;
}
.dropdown__list-item {

  margin-bottom: 10px;
}
.dropdown__list-item:last-of-type {
  margin-bottom: 0;
}

.dropdown :checked ~ .dropdown__list {
  transition: opacity .7s linear 0ms, max-height .7s linear 0ms, margin-top .4s ease-in 0ms;
  margin-top: 20px;
  visibility: visible;
  max-height: 300px;
  opacity: 1;
}

.dropdown :checked + .dropdown__label {
  color: #2f2f2f;
}


.dropdown__label::after {
  content: '';
  height: 1.4em;
  width: 1.4em;
  position: absolute;
  right: -30px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/svg-elems/projects-more.svg);
  background-size: contain;

  transition: transform .5s ease-in;
}

.dropdown :checked + .dropdown__label::after {
  transform: rotate(-180deg);
}

/* ------------------ */

.popup__navlink_active {
    position: relative;
}

.popupmenu__navlink_active::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    bottom: -4px;
}

.popupmenu__navlink:last-of-type {
    margin-bottom: 0;
}

.popupmenu__button-close {
    width: 31px;
    height: 31px;
    background: transparent;
    background-image: url(../../images/close-icon.svg);
    background-size: cover;
    color: rgb(255, 255, 255);
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    top: 22px;
    right: 22px;
}

@media (max-width: 550px) {
    .popupmenu__button-close {
        top: 13px;
        right: 13px;
    }
}

@media screen and (max-width: 520px) {
    .popupmenu__container {
        width: 320px;
    }
}