.techniques {
    /*margin-top: 100px;*/
    /*background-color: #f2f2f2;*/
    /*background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 54.91%, #F2F2F2 93.75%);*/
    padding-top: 40px;
    position: relative;
    /*border-bottom: 2px solid rgba(0, 0, 0, 0.527);*/
    margin: 0 auto;
  }

@media screen and (max-width: 768px) {
  .techniques {
    padding-top: 0px;
  }
}
  .techniques__title {
    /*width: 390px;*/
    text-align: left;
    color: #f2f2f2;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    margin: 0;
    max-width: 250px;
  }
  @media screen and (max-width: 768px) {
    .techniques__title {
      font-size: 18px;
    }
  }
.techniques::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 9%;
  background: linear-gradient(90.05deg, rgba(196, 196, 196, 0) 0.03%, #74686591 71.01%,  #74686591 99.5%);
  top:150px;
  left: 0;
}

.techniques::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 40%;
  background: linear-gradient(90.05deg,  #74686591 0.03%, #74686556 71.01%, rgba(196, 196, 196, 0) 99.51%);
  top:150px;
  right: 0;
}


@media screen and (max-width: 1440px) {
  .techniques::after {
    width: 2%;
  }
  
  .techniques::before {
    width: 28%;
  }
}


@media screen and (max-width: 768px) {
  .techniques::after, .techniques::before {
    top: 50px;
  }
}

/*линия, по которой бежит ползунок*/
.techniques__after {
  position: relative;
  height: 2px;
  width: 100%;
  background: linear-gradient(90.05deg, rgba(196, 196, 196, 0) 0.03%, #74686573 71.01%, rgba(196, 196, 196, 0) 99.51%);
}

/*ползунок*/
.techniques__after_before {
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: #ff5e3ab0;
  left: 90%;
  opacity: 0;
  transform: skewX(-60deg);
  z-index: 10;

  animation: fadeInOutMy1 1.1s linear;
}

@media screen and (max-width:768px) {
  .techniques__after_before {
    width: 9%;
  }
}

@keyframes fadeInOutMy1 {
  0% {
    transform: skewX(-60deg);
    left: 0;
    opacity: 0;
  }
  50% {
    transform: skewX(-60deg);
    left: 50%;
    opacity: 1;
  }
  100% {
    transform: skewX(-60deg);
    left: 90%;
    opacity: 0;
  }
}