


  .flexburton__breadcrumbs-link {
    text-decoration: underline;
    color: #c4c4c4d5;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
  }

  @media screen and (max-width: 1024px) {
    .flexburton__breadcrumbs-link{
      /*margin-left: 10px;*/
      font-size: 16px;
    }

  }


  @media screen and (max-width: 768px) {
    .flexburton__breadcrumbs-link{
      font-size: 14px;
    }
  }


  @media screen and (max-width: 550px) {
    .flexburton__breadcrumbs-link {
      font-size: 12px;
    }
  }

  .flexburton__breadcrumbs-link::after {
    content: ' \2192';
    color: #FF5E3A;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
  }

  .flexburton__breadcrumbs-link_type_here {
    text-decoration: none;
  }
  .flexburton__breadcrumbs-link_type_here::after {
    content: '';
  }
