.info-section {
  max-width: calc(100% - var(--aside-width)*2);
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 1281px){
  .info-section {
    flex-direction: column;
  }
}

.info-section__aside {
  flex-basis: 616px;
  /*flex-grow: 0;*/
  max-width: 616px;
  border: 2px solid var(--bg-darker-color);
  position: relative;
  padding: 40px 0;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-right: 4px;
}

@media screen and (max-width: 1281px){
  .info-section__aside {
    display: block;
    max-width: 100%;
    position: relative;
    flex-basis: 0;
  }
}


.info-section__aside-slider {
  width: 99%;
  max-width: calc(100% - 25px);
  height: auto;
  overflow: hidden;
}

.swiper-slide {
  min-width: 0;
  width: 100%;
  min-height: 0;
  max-height: 40vh;
  display: flex;
  justify-content: center;

  background-color: var(--bg-darker-color);
}

.swiper-slide img {
  display: block;
  max-width: 100%;

  object-fit: contain;
  min-width: 0;
  min-height: 0;
}


.info-section__aside::before {
  content: '';
  position: absolute;
  width: calc(100% + var(--aside-width));
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  z-index: 0;
  background-color: var(--theme-dark-gray-color);
}

.info-section__aside_poster {
  min-height: 70vh;
}

.info-section__aside_poster::before {
  background-color: none;
  background-repeat: no-repeat;
  background-image: url(../../../images/banner-bg.png);
}

.info-section__title {

  font-style: normal;
  font-weight: 500;
  font-size: var(--section-title-size);
  line-height: 1.4;
  letter-spacing: -0.015em;

  color: var(--theme-white-color);
  margin: 0 10px 0 0;
  max-width: calc(100% - 25px);
  position: relative;
}

.info-section__subtitle {
  position: relative;
  max-width: calc(100% - 25px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.015em;
  color: var(--theme-white-color);
  margin: 1em 0 0;
}


.info-section__subtitle_page_razdel {
  font-size: 18px;
  margin-right: 20px;
}

.info-section__photo-container {
  position: relative;
  margin: 3em 0;
}

.info-section__article {
  flex-basis: 1000px;
  margin: 50px 30px 0;
}

.info-section__grid {
  margin: 0;
  flex-basis: 1250px;
}


.swiper-button-prev, .swiper-button-next {
  color: var(--theme-main-color);
}