.svg-with-table {
  display: flex;
  max-width: calc(100% - var(--aside-width)*2);

  margin: 50px auto 20px;
}




.svg-with-table_grid {
  display: grid;
  grid-template-rows: 30px min-content 1fr;
  grid-auto-flow: column;
  grid-template-columns: 1000px 1fr;

}

.svg-with-table__scheme-svg {
  flex-basis: 70%;
  margin: 0;

}

.svg-with-table__scheme-svg svg {
  padding: 1%;
  box-sizing: border-box;
  max-width: 100%;
  position: sticky;
  top: 0;

  font-size: 14px;
  color: var(--theme-white-color);
}

.svg-with-table__scheme-svg path {
  transition: all .3s ease-in-out;
}

.svg-with-table__scheme-svg path:hover {
  opacity: .4;
}

.svg-with-table__tbl-spec {
  grid-column: 2/2;
  grid-row: 1/4;
  flex-basis: 30%;
  background-color: var(--theme-dark-gray-color)
  ;
}

@media screen and (max-width: 769px) {
  .svg-with-table_grid {
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
  .svg-with-table__tbl-spec {
    grid-column: 1/1;
    grid-row: auto;
    overflow-y: auto;
  }

  .svg-with-table__scheme-svg {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 40px 0;
  }

  .svg-with-table__scheme-svg svg {
    width: 200%;
    max-width: 768px;
  }
}